[Unit]
Description=Check periodically for CriderVPN updates

[Timer]
OnBootSec=5min
OnUnitActiveSec=30min
RandomizedDelaySec=5min
Persistent=true
Unit=cridervpn-update.service

[Install]
WantedBy=timers.target
