[Unit]
Description=Check periodically for CriderVPN updates

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
AccuracySec=1s
RandomizedDelaySec=0
Persistent=true
Unit=cridervpn-update.service

[Install]
WantedBy=timers.target
